button{
  display: inline-block;
  background-color: #535d34;
  color: #ffffff;
  margin-left: 2em;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius: 20px;
  }

  body{
    width: 100%;
    height: auto;
  }

